<div class="overlayblack">
    
    <nav-bar></nav-bar>
    <div class = "newView">
       <div class="aboutBox">
           <div>
            <img src="../img/logo.ico" class="icon"></div>
            <div>
                <br>
            Troop was created to make group planning eaiser. 
            It came to light when  the app creator Amina Foon and her friends were planning a trip and were havig difficulties keeping track with plans and housing.
        No more having to scroll through multiple group chats or email inboxes to find information about an upcoming trip.
           Easily add friends to a trip. Vote on housing options. Share flight or driving information. Even submit an activity to do with the group.

            </div>

       </div>
    </div>
</div>

<div class="hideme">
    <img src="https://source.unsplash.com/collection/959652/1600x900">
    <img src="https://source.unsplash.com/collection/959614/1600x900">
    <img src="https://source.unsplash.com/collection/158748/1600x900">
    <img src="https://source.unsplash.com/collection/896677/1600x900">
    <img src="https://source.unsplash.com/collection/142324/1600x900">
    <img src="https://source.unsplash.com/collection/630188/1600x900">
</div>