<div class="tripbkg" style="background: url('https://source.unsplash.com/1600x900/?{{currtrip[0].location}}')">
</div>
<div class="overlaywhite">
    <nav-bar></nav-bar>
    <trip-info></trip-info>
    <div class="white">
        <span>
            <button type="button" class="close" aria-label="Close" ui-sref="trip({id:currtrip[0].tripid})">
                <span aria-hidden="true">&times;</span></button></span>
                <div class="makeRow">
                        <img src="../img/activities.png" style="height:100px;">
                        <p class="welcome">Activities</p>
                        <add-activity></add-activity>
                    </div>
                    <div class="makehousing">
                            <div class="housingBox" ng-repeat="activity in activities">
                                <div class="makeColumn center">
                                    <div class="">
                                        <img class="transportImg" src="{{activity.photourl}}">
                                    </div>
                                    <div class="transportTitle">
                                       {{activity.name}}
                                     {{activity.location}}<br>
                                    {{activity.time}}</p>
                                    </div>
                                    <div class="makeGuestRow">
                                            <div ng-repeat="people in activityguest" ng-if="people.activityid == activity.id" class="makeColumn">
                                                <img class="usercircle" ng-src="{{people.photourl}}" data-toggle="popover" data-content="{{people.user_name}}">
                                            </div>
                                            <activity-friend></activity-friend>
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>
</div>