<div class="tripbkg" style="background: url('https://source.unsplash.com/1600x900/?{{currtrip[0].location}}')">
</div>
<div class="overlaywhite">
    <nav-bar></nav-bar>
    <trip-info></trip-info>
    <div class="white">
        <span>
            <button type="button" class="close" aria-label="Close" ui-sref="trip({id:currtrip[0].tripid})">
                <span aria-hidden="true">&times;</span></button>
                <div class="makeRow">
                        <img src="../img/tripRules.png" style="height:100px;">
                        <p class="welcome">Trip Guidelines</p>
                        <add-rule></add-rule>
                    </div>
                    <div>
                        <ul ng-repeat="rule in rules">
                          <li class="text-dark list">{{rule.rule}}</li>
                        </ul>
                    </div>
    </div>
</div>