<div class="tripbkg" style="background: url('https://source.unsplash.com/1600x900/?{{currtrip[0].location}}')">
</div>
<div class="overlaywhite">
    <nav-bar></nav-bar>
    <trip-info></trip-info>
    <div class="white">
        <span>
            <button type="button" class="close" aria-label="Close" ui-sref="trip({id:currtrip[0].tripid})">
                <span aria-hidden="true">&times;</span></button>
                <div class="makeRow">
                        <img src="../img/tripRules.png" style="height:100px;">
                        <p class="welcome">Trip Guidelines</p>
                        <add-rule></add-rule>
                    </div>
                    <div class="makeRow ruleBox" ng-repeat="rule in rules">
                    <div class="makeColumn">
                        <p class="text-dark noMargin">{{rule.rule}}</p>
                        <small class="ruleSubmit">submitted by: {{rule.user_name}}</small>
                    </div>
                    <div class="makeRow">
                            <button class="btn btn-secondary center" id="mobile-remove"  ng-click="removeRule(rule.id)" ng-if="user[0].authid == currtrip[0].admin && user[0].authid == currtrip[0].admin">Delete</button>
                            <button class="btn btn-secondary center"  id="desktop-remove" ng-click="removeRule(rule.id)" ng-if="user[0].authid==rule.creatinguser && user[0].authid != currtrip[0].admin">X</button>
                            <button class="btn btn-secondary" id="mobile-remove"  ng-click="removeRule(rule.id)" ng-if="user[0].authid==rule.creatinguser && user[0].authid != currtrip[0].admin">Delete</button>
                            <button class="btn btn-secondary" id="desktop-remove"  ng-click="removeRule(rule.id)" ng-if="user[0].authid==rule.creatinguser && user[0].authid == currtrip[0].admin">X</button>
                    </div>
                    </div>
    </div>
</div>