<div class="overlayblack">
        
<nav-bar></nav-bar>
<!-- main content -->
<div class="loginBox">
<div><img src="../img/logo.ico" class="icon"></div>
<h1>coordinating travel with friends made easy</h1>
<div class="empty"></div>
<a href="/auth/logged"><div class="getStarted">
    <p>Get Started</p>
</div></a>
</div>
</div>

<div class="hideme">
    <img src="https://source.unsplash.com/collection/959652/1600x900">
    <img src="https://source.unsplash.com/collection/959614/1600x900">
    <img src="https://source.unsplash.com/collection/158748/1600x900">
    <img src="https://source.unsplash.com/collection/896677/1600x900">
    <img src="https://source.unsplash.com/collection/142324/1600x900">
    <img src="https://source.unsplash.com/collection/630188/1600x900">
</div>