<div class="mainbkg">
</div>
<div class="overlaywhite"> 
    <nav-bar></nav-bar>
 <div class="newView">
     <div class="welcome">
            <p>Welcome back,&nbsp&nbsp</p><span class="name">{{user[0].firstname}}</span>
     </div>
     
     <div class="newTrip">
       <!--New Trip Modal   -->
       <button class="bg-faded btn btn-secondary" id="btn" data-toggle="modal" data-target=".bd-example-modal-lg"><img src="../img/add button.png" style="height:75px;"> NEW TRIP</button>
       
       <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg">
           <div class="modal-content" id="center">
              <p class="welcome text-dark">Create a New Trip</p>
            <form>
                <div class="form-group mx-auto">
                  <small class="form-text text-muted">Destination Name</small>
                  <input type="location" class="form-control form-control-lg" id="location" aria-describedby="emailHelp" placeholder="LOCATION" ng-model="location">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                  <small id="emailHelp" class="form-text text-muted">Start Date</small>
                  <input type="date" class="form-control form-control-lg" id="startdate" ng-model="startdate" placeholder="Start">
                  </div>
                  <div class="col-sm-6">
                  <small id="emailHelp" class="form-text text-muted">End Date</small>
                  <input type="date" class="form-control form-control-lg" id="enddate" ng-model="enddate" placeholder="End">
                </div>
                </div>
                <button type="submit" class="btn editbutton" ng-click="createTrip(user[0].authid,location,startdate,enddate)" data-dismiss="modal">Submit</button>

              </form>
           </div>
         </div>
       </div>
     </div>
     </div> 

 <!-- Where Trip is located     -->
 <h1 class="tripbox">My Trips</h1>
<div class="row tripbox">
<div class="col-sm-4" ng-repeat="trip in trips | orderBy: '-start'">
  <a ui-sref="trip({id:trip.tripid})"><div class="card bg-dark text-white boxshadow">
      <img class="card-img" src="https://source.unsplash.com/1600x900/?{{trip.location}}" alt="{{trip.location}}">
      <div class="card-img-overlay tripboxoverlay">
       <h1 class="trip-title">{{trip.location}}</h1>
        <p class="card-text"> {{trip.start | date:'MMM d, yyyy'}} - {{trip.enddate | date:'MMM d, yyyy'}}</p>
      </div>
    </div></a>
    </div>
  </div>
</div>
