<div class="mainbkg">
</div>
<div class="overlaywhite"> 
    <nav-bar></nav-bar>
 <div class="newView">
     <div class="welcome">
            <h3>Welcome</h3><span><h1>{{user[1].name}}</h1></span>
     </div>
     <div class="newTrip">
     <img src="../img/add button.png" style="height:100px;">
     <span><h1>NEW TRIP</h1></span>
     </div>
     </div>   
<div class="newRow">
<div class="Current"></div>
<h1>CURRENT</h1>

<div class="Upcoming"></div>  
<h1>PAST</h1>

<div class="Past"></div> 
<h1>PAST</h1>

</div>
</div>
