<div class="tripbkg" style="background: url('https://source.unsplash.com/1600x900/?{{currtrip[0].location}}')">
</div>
<div class="overlaywhite">
    <nav-bar></nav-bar>
    <trip-info></trip-info>
    <div class="white">
        <span>
            <button type="button" class="close" aria-label="Close" ui-sref="trip({id:currtrip[0].tripid})">
                <span aria-hidden="true">&times;</span></button>
                <div class="makeRow">
                    <div class=makeRow>
                        <img src="../img/transportation.png" style="height:100px;">
                        <p class="welcome">Transportation</p>
                    </div>
                        <transport-modal></transport-modal>
                    </div>
                    
                    <div class="makehousing">
                            <div class="housingBox" ng-repeat="transport in transportation">
                                <div class="makeColumn center">
                                    <div class="">
                                        <img class="transportImg" src="{{transport.photo}}">
                                    </div>
                                    <div class="transportTitle">
                                        <p>{{transport.departure}} <i class="material-icons">arrow_forward</i> {{transport.arrival}}</p>
                                        <p><b>Depart</b>
                                     {{transport.departuretime | date:  'MMM d h:mm a' }} <br>
                                     <b>Arrive</b> {{transport.arrivaltime | date: 'MMM d h:mm a' }}</p>
                                    </div>
                                    <div class="makeGuestRow">
                                            <div ng-repeat="rider in riders" ng-if="rider.transportid == transport.id" class="makeColumn">
                                                <img class="usercircle" ng-src="{{rider.photourl}}" data-toggle="popover" data-content="{{guest.user_name}}">
                                            </div>
                                            <add-rider></add-rider>
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>
</div>