<div class="tripbkg" style="background: url('https://source.unsplash.com/1600x900/?{{currtrip[0].location}}')">
</div>
<div class="overlaywhite">
    <nav-bar></nav-bar>
    <trip-info></trip-info>
    <div class="white">
        <span>
            <button type="button" class="close" aria-label="Close" ui-sref="trip({id:currtrip[0].tripid})">
                <span aria-hidden="true">&times;</span></button>
                <div class="makeRow">
                        <img src="../img/transportation.png" style="height:100px;">
                        <p class="welcome">Transportation</p>
                    </div>
                    <transport-modal></transport-modal>
                    <div class="makehousing">
                            <div class="housingBox">
                                <div class="makeColumn">
                                    <div class="">
                                        <img class="houseImg" src="../img/transportation.png">
                                    </div>
                                    <div class="houseTitle">
                                        <p>Atlanta to Detroit</p>
                                        <p>Depart 3:00pm - Arrive 5:00pm </p>
                                    </div>
                                    <div class="makeGuestRow">
                                            <div ng-repeat="guest in tripguest | limitTo: 5" class="makeColumn">
                                                <img class="usercircle" ng-src="{{guest.photourl}}" data-toggle="popover" data-content="{{guest.user_name}}">
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>
</div>