<div class="tripbkg" style="background: url('https://source.unsplash.com/1600x900/?{{currtrip[0].location}}')">
    </div>
<!-- start page content -->
<div class="overlaywhite"> 
    <nav-bar></nav-bar>
    <trip-info></trip-info>
        <div class="newRow">
            <a ui-sref="housing({id:currtrip[0].tripid})"><div class=" optionsbox">
                <img src="../img/housing.png">
                <p class="welcome">housing</p>
            </a></div>
            <a href="#"><div class=" optionsbox">
                <img src="../img/transportation.png">
                <p class="welcome">transportation</p>
            </a></div>
            <a href="#"><div class=" optionsbox">
                <img src="../img/tripRules.png">
                <p class="welcome">trip guidelines</p>
            </a></div>
            <a href="#"><div class=" optionsbox">
                <img src="../img/activities.png">
                 <p class="welcome">activities</p>
            </a></div>
        </div>
    </div>
</div>