<div class="newColumn">
        <div class="makeRow">
            <div class="makeColumn">
                <h1>{{currtrip[0].location}}</h1>
                <h3> {{currtrip[0].start | date:'MMM d, yyyy'}} - {{currtrip[0].enddate | date:'MMM d, yyyy'}}</h3>
            </div>
            <div class="makeColumn">
                <div class="makeRow">
                    <p style="margin: 0px">There are {{tripguest.length}} People on this trip</p>
                </div>
                <div class="makeGuestRow">
                    <div ng-repeat="guest in tripguest" class="makeColumn">
                        <img class="usericon" ng-src="{{guest.photourl}}">
                    </div>
                </div>
            </div>
<!-- add friends modal -->
            <div class="makeRow">
                    <button class="btn btn-primary" id="btn" data-toggle="modal" data-target=".bd-example-modal-lg"><img src="../img/add button.png" style="height:75px;"> Add Friends</button>
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                        <label class="custom-control custom-checkbox" ng-repeat="friend in tripguest">
                                                <input type="checkbox" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description"><img class="usericon" ng-src="{{friend.photourl}}">{{friend.firstname}} {{friend.lastname}}</span>
                                        </label>
                                </div>
                            </div>
                        </div>
            </div>
<!-- modal finished -->
        </div>
    </div>