<div class="tripbkg" style="background: url('https://source.unsplash.com/1600x900/?{{currtrip[0].location}}')">
    </div>
<!-- start page content -->
<div class="overlaywhite"> 
    <nav-bar></nav-bar>
    <trip-info></trip-info>
        <div class="triprow">
            <a ui-sref="housing({id:currtrip[0].tripid})"><div class=" col-sm-4 optionsbox">
                <img src="../img/housing.png" class="tripIcon">
                <p>housing</p>
            </a></div>
            <a ui-sref="transport({id:currtrip[0].tripid})"><div class=" col-sm-4  optionsbox">
                <img src="../img/transportation.png" class="tripIcon">
                <p>transportation</p>
            </a></div>
            <a ui-sref="rules({id:currtrip[0].tripid})"><div class="col-sm-4  optionsbox">
                <img src="../img/tripRules.png" class="tripIcon">
                <p>trip guidelines</p>
            </a></div>
            <a ui-sref="activities({id:currtrip[0].tripid})"><div class="col-sm-4  optionsbox">
                <img src="../img/activities.png" class="tripIcon">
                 <p>activities</p>
            </a></div>
        </div>
    </div>
</div>
