<button class="btn btn-secondary" data-toggle="modal" data-target=".{{house.id}}"> More Info</button>
<div class="modal fade {{house.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content scroll" id="center">
            <span>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </span>
            <div class="makeColumn">
                <p class="welcome text-dark">{{house.location}} <span><house-edit></house-edit></span></p>
                    <p>Submitted By: {{house.submittedby}} </p>
                    <div class="makeRow">
                <div class="makeColumn">
                    <div class="">
                        <img class="houseImg" src="{{house.photourl}}">
                    </div>
                    <div class="votingApp">
                        <div class="makeColumn">
                            <img style="height:50px" src="../img/upVote.png" ng-click="upvote(house.id,house.upvote)">{{house.upvote}}
                        </div>
                        <div class="makeColumn">
                            <img style="height:50px" src="../img/downVote.png" ng-click="downvote(house.id,house.downvote)">{{house.downvote}}
                        </div>
                    </div>
                </div>
                <div class="makeColumn default-text text-muted">
                    <p>Price: {{house.price | currency: USD : 2}}<br>
                    <a target="_blank" href="{{house.link}}">Link To Housing</a>
                    </p>
                </div>
            </div>
</div>
        </div>
    </div>
</div>