<button class="btn btn-secondary" id="btn" data-toggle="modal"
data-target=".addTransit"> <img src="../img/add button.png" style="height:75px;">Add Transportation</button>
<div class="modal fade addTransit" tabindex="-1" role="dialog" aria-labelledby="myLargeModal" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content" id="center">
    <span>
      <button type="button" class="close" aria-label="Close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
      </button>
    </span>
    <p class="welcome text-dark">Add Transportation</p>
    <form>
      <div class="form-group fontweight text-dark">
        <label for="type">Choose a Type of Transportation</label>
        <select type="text" class="form-control" id="type" placeholder="Choose Transportation" ng-model="type">
            <option>Plane</option>
            <option>Car</option>
        </select>
      </div>
      <div class="form-group row fontweight text-dark">
        <div class="col-sm-6">
          <label for="departurelocation">Departing From</label>
          <input type="text" class="form-control" id="departurelocation" placeholder="Departure Location" ng-model="departurelocation">
        </div>
        <div class="col-sm-6">
          <label for="Departure">Departure Time</label>
          <input type="datetime-local" class="form-control" id="Departure" placeholder="Departure Time" ng-model="departuretime">
        </div>
        </div>
        <div class="form-group row fontweight text-dark">
            <div class="col-sm-6">
              <label for="arrivallocation">Arriving At</label>
              <input type="text" class="form-control" id="arrivallocation" placeholder="Arrival Location" ng-model="arrivallocation">
            </div>
            <div class="col-sm-6">
              <label for="arrival">Arrival Time</label>
              <input type="datetime-local" class="form-control" id="Arrival" placeholder="Arrival Time" ng-model="arrivaltime">
            </div>
            </div>

      <button type="submit" class="btn btn-secondary editbutton" ng-click="createTransportation(currtrip[0].tripid,type,departurelocation,departuretime,arrivallocation,arrivaltime)" data-dismiss="modal">
      Submit</button>
    </form>
  </div>
</div>
</div>