.backgroundImage{
    background: no-repeat center bottom scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    padding-top: 2%;
    font-size: 100%; 
    transition-duration: 500ms;

}
.overlayblack{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(63, 63, 63, 0.36);
    height: 100vh;
    font-family: 'Helvetica Neue';
}
.overlaywhite{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(151, 150, 150, 0.479);
    height: 105vh;
    font-family: 'Helvetica Neue';
    font-size: 100%;
    color: white;
}

.containcontent{
    display: flex;
    flex-direction: column;
}

.navLinks, li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 20px,0,0,0;
    padding: 0;
    font-family: 'Helvetica Neue';
    color: White;
}
.nav{
    background-color: rgba(0, 0, 0, 0.38);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    top: 0;
}

.navLinks,a{
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 1.5px;
}

.navLinks li:hover{
    border-bottom: 2px;
    border-bottom-color: #FF5A6A;
    border-bottom-style: solid;
}

.icon{
    height: 100px;
    width: auto;
}

.loginBox{
    margin: 100px 150px;
    padding: 100px 20px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.79);
    width: 50%;
    align-items: center;
    text-align: center;
    color: #95989A;
    float: right;
}
.getStarted{
    border: 2px solid none;
    border-radius: 25px;
    padding: 3px 40px;
    background-color: #FF5A6A;
    color: white;
    font-weight: 200;
    letter-spacing: 1px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.47);
}
.getStarted:hover{
    background-color: rgb(252, 102, 117);
}

.hideme{
    display: none;
}
.mainbkg{
    background: no-repeat center bottom scroll url('https://source.unsplash.com/collection/158643/1600x900'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-top: 2%;
    position: fixed;
    top: 0;
    font-size: 100%;
    color: white;
    font-family: 'Helvetica Neue';
    display: flex;
    flex-direction: column;
    filter: blur(5px)
}
.tripbkg{
    background: no-repeat center bottom scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-top: 2%;
    position: fixed;
    top: 0;
    font-size: 100%;
    color: white;
    font-family: 'Helvetica Neue';
    display: flex;
    flex-direction: column;
    filter: blur(5px)
}

.newTrip{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.newView{
    display: flex;
    flex-direction: row;
    margin-top:70px;
    justify-content: space-around;

}
.newRow{
    display: flex;
    flex-direction: row;
    margin-top:70px;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 15px;

}
.makeRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.newColumn{
    display: flex;
    flex-direction: column;
    margin-top:70px;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 15px;
}
.makeColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
body{
    margin: 0;
    font-family: 'Helvetica Neue';
}
.usericon{
    border-radius: 100%;
    padding-right: 5px;
    width: auto;
    height: 30px;
}
.usercircle{
    width: auto;
    height: 50px;
    margin: 1px;
    border-radius: 100%;
    padding: 0;
    border: rgba(255, 57, 93, 0.336) 2px solid;
}

#btn{
    background: none;
    border: none;
}
#center{
    padding: 5px 50px;
    border-right: none;
    border-left: none;
}
.tripbox{
  padding: 5px 0 5px 50px;
  font-weight: 200;
}
.welcome{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    font-weight: 100;
    align-content: bottom;
}
.name{
    font-weight: 300;
}
.optionsbox{
    background: rgba(255, 255, 255, 0.329);
    width: 500px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.makeGuestRow{
    display: flex;
    flex-direction: row;
    justify-content: left;

}
.tripboxoverlay{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.514);
    height: auto;
    font-family: 'Helvetica Neue';
    font-size: 100%;
    color: white;
}