.usericon{
    border-radius: 100%;
    padding-right: 5px;
    width: auto;
    height: 30px;
}
.usercircle{
    width: auto;
    height: 50px;
    margin: 1px;
    border-radius: 100%;
    padding: 0;
    border: #FF5A6A 1px solid;
}

.icon{
    height: 100px;
    width: auto;
}
.makeGuestRow{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;

}